<div class="validator d-flex align-items-center">
  <div class="one-col">
    <div class="one-error d-flex align-items-center">
      <img *ngIf="!validation.length && validationTouched" class="warn" width="10px" height="9px" src="" />
      <img *ngIf="validation.length" class="solved" width="15px" height="12px" [src]="icons.modals.right" />
      <div [class.solved]="validation.length" [class.warn]="!validation.length && validationTouched">Length must be 8 to 15 characters</div>
    </div>
    <div class="one-error d-flex align-items-center">
      <img *ngIf="!validation.specialChar && validationTouched" class="warn" width="10px" height="9px" src="" />
      <img *ngIf="validation.specialChar" class="solved" width="15px" height="12px" [src]="icons.modals.right" />
      <div [class.solved]="validation.specialChar" [class.warn]="!validation.specialChar && validationTouched">At least 1 special character</div>
    </div>
  </div>
  <div class="one-col">
    <div class="one-error d-flex align-items-center">
      <img *ngIf="!validation.upperCaseChar && validationTouched" class="warn" width="10px" height="9px" src="" />
      <img *ngIf="validation.upperCaseChar" class="solved" width="15px" height="12px" [src]="icons.modals.right" />
      <div [class.solved]="validation.upperCaseChar" [class.warn]="!validation.upperCaseChar && validationTouched">At least 1 upper character</div>
    </div>
    <div class="one-error d-flex align-items-center">
      <img *ngIf="!validation.digit && validationTouched" class="warn" width="10px" height="9px" src="" />
      <img *ngIf="validation.digit" class="solved" width="15px" height="12px" [src]="icons.modals.right" />
      <div [class.solved]="validation.digit" [class.warn]="!validation.digit && validationTouched">At least 1 digit</div>
    </div>
  </div>
</div>
