<div class="mat-dialog-title-container">
  <h1 mat-dialog-title>
    Change password
    <button class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </h1>
</div>
<div mat-dialog-content>
  <form
    class="change-password-form"
    [formGroup]="changePasswordForm"
    (keyup.enter)="onSubmit()"
  >
    <div class="one-input-wrapper text-center">
      <div
        class="d-flex one-input justify-content-start"
        [class.invalid]="
          changePasswordForm.get('currentPassword').errors &&
          changePasswordForm.get('currentPassword').touched &&
          changePasswordForm.get('currentPassword').dirty
        "
      >
        <div
          class="form-ico mr-2 d-flex align-items-center justify-content-center"
        >
          <i class="lni-user"></i>
        </div>
        <input
          (input)="changePasswordError = false"
          type="password"
          id="currentPassword"
          name="currentPassword"
          placeholder="Current password"
          formControlName="currentPassword"
          class="flex-grow-1"
          required
        />
      </div>
      <div
        class="message"
        *ngIf="
        changePasswordForm.get('currentPassword').errors?.required &&
        changePasswordForm.get('currentPassword').touched &&
        changePasswordForm.get('currentPassword').dirty
        "
      >
        This field can't be empty
      </div>
    </div>

    <div class="one-input-wrapper text-center mt-3">
      <div
        class="d-flex one-input justify-content-start"
        [class.invalid]="
          changePasswordForm.get('newPassword').errors &&
          changePasswordForm.get('newPassword').touched &&
          changePasswordForm.get('newPassword').dirty
        "
      >
        <div
          class="form-ico mr-2 d-flex align-items-center justify-content-center"
        >
          <i class="lni-user"></i>
        </div>
        <input
          (input)="validate($event)"
          [pattern]="passwordPattern"
          type="password"
          id="newPassword"
          name="newPassword"
          placeholder="New password"
          formControlName="newPassword"
          class="flex-grow-1"
          required
        />
      </div>
      <div
        class="message"
        *ngIf="
        (changePasswordForm.get('newPassword').hasError('pattern') &&
        changePasswordForm.get('newPassword').touched &&
        changePasswordForm.get('newPassword').dirty)
        "
      >
        This password doesn't meet the pattern
      </div>
      <div
        class="message"
        *ngIf="
        changePasswordForm.get('newPassword').errors?.required &&
        changePasswordForm.get('newPassword').touched &&
        changePasswordForm.get('newPassword').dirty
        "
      >
        This field can't be empty
      </div>
    </div>





    <div class="one-input-wrapper text-center mt-3">
      <div
        class="d-flex one-input justify-content-start"
        [class.invalid]="
          changePasswordForm.get('confirmPassword').errors &&
          changePasswordForm.get('confirmPassword').touched &&
          changePasswordForm.get('confirmPassword').dirty
        "
      >
        <div
          class="form-ico mr-2 d-flex align-items-center justify-content-center"
        >
          <i class="lni-user"></i>
        </div>
        <input
          placeholder="Confirm password"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          formControlName="confirmPassword"
          class="flex-grow-1"
          required
        />
      </div>
      <div
        class="message"
        *ngIf="
        changePasswordForm.get('confirmPassword').errors?.required &&
        changePasswordForm.get('confirmPassword').touched &&
        changePasswordForm.get('confirmPassword').dirty
        "
      >
        This field can't be empty
      </div>
      <div
        class="message"
        *ngIf="
        changePasswordForm.get('confirmPassword').hasError('mismatch') &&
        changePasswordForm.get('confirmPassword').touched &&
        changePasswordForm.get('confirmPassword').dirty
        "
      >
        Passwords doens't match
      </div>
    </div>
  </form>
</div>
<app-validator
  [validation]="validation"
></app-validator>
<div mat-dialog-actions class="d-flex justify-content-center">
  <button
    mat-button
    id="changePasswordCancel"
    class="one-button one-grey"
    (click)="close()"
  >
    Cancel
  </button>
  <button
    id="changePasswordSave"
    mat-raised-button
    (click)="onSubmit()"
    class="one-button"
    [disabled]="changePasswordForm.invalid || isChangingPassword"
  >
    Change
  </button>
</div>
