<div class="import-content">
  <div
    class="import-area d-flex align-items-center justify-content-center"
    [class.light]="area === 'inline'"
    (drop)="onDrop($event)"
    (dragover)="onDragOver($event)"
  >
    <div class="uploader" *ngIf="uploading">
      <div class="w-100 text-center">
        <div class="upload-progress d-flex justify-content-center align-items-center">
          <mat-progress-spinner
            class="example-margin"
            color="primary"
            mode="determinate"
            [value]="percentDone">
          </mat-progress-spinner>
          <div class="counter d-flex justify-content-center align-items-center position-absolute">
            {{ percentDone || 0 }}%
          </div>
        </div>
        <div class="w-100 mt-3">
          Please wait while uploading your files
        </div>
        <button
          mat-raised-button
          (click)="stop()"
          class="one-button mt-3"
        >
          Cancel
        </button>
      </div>
    </div>
    <div *ngIf="!uploading">
      <div class="w-100 text-center icon">
        <i class="lni-image"></i>
      </div>
      <div class="text mt-1">
        <div class="d-none d-md-block">Drag and drop your files here or,</div>
        <span class="one-primary" (click)="browse()">
          Browse
        </span>
        to select your files.
      </div>
      <div class="file-info w-100 text-center">
        <div class="w-100 one available">Available file types: {{ availableTypes() }}</div>
        <div class="w-100 one">Max file size: 7 MB</div>
      </div>
    </div>
  </div>
</div>
<input
  #uploader
  type="file"
  class="d-none"
  [accept]="availableTypes()"
  (change)="inputFileHandler($event)"
  multiple
/>
