@import '~@angular/material/theming';

$md-mcgpalette0: (
    50: #eeedfe,
    100: #d6d2fd,
    200: #bab5fc,
    300: #9e97fa,
    400: #8a80f9,
    500: #756af8,
    600: #6d62f7,
    700: #6257f6,
    800: #584df5,
    900: #453cf3,
    A100: #ffffff,
    A200: #ffffff,
    A400: #dad9ff,
    A700: #c2bfff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

@include mat-core();
$multiple-board-management-theme-primary: mat-palette($md-mcgpalette0, 500);
$multiple-board-management-theme-accent:mat-palette($md-mcgpalette0, A200, A100, A400);
$multiple-board-management-theme-warn: mat-palette($mat-red);
$multiple-board-management-theme: mat-light-theme($multiple-board-management-theme-primary, $multiple-board-management-theme-accent, $multiple-board-management-theme-warn);
@include angular-material-theme($multiple-board-management-theme);

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.2) !important
}

