.icon-big
  font-size: 50px
.one-green
  color: #57b955 !important
.one-red
  color: #ff3333 !important
.one-blue
  color: #286fff !important
.one-background-main
  background: #756af8
  background: linear-gradient(65deg,#5E52F6 0,#8B82F9 100%)
.one-background-red
  background: #ff3333
  background: linear-gradient(65deg,#ff3333 0,#ff4f4f 100%)
.tachometer
  margin: 0px 0px 0px -30px
  height: 290px
  width: 335px
  display: block
.text
  .count
    font-weight: 700
    font-size: 25px

.card-filler
  min-height: 250px
  margin: 0 -16px -16px -16px
  color: rgba(255, 255, 255, 0.7)
  &.project
    font-size: 40px
    line-height: 35px
  &.comment
    font-size: 16px
    line-height: 16px
