<div class="mat-dialog-title-container">
  <h1 mat-dialog-title>
    {{ modalTitle | translate }}
    <button class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </h1>
</div>
<div mat-dialog-content>
  <div class="w-100">{{ confirmString1 }}</div>
</div>
<div mat-dialog-actions class="d-flex justify-content-center">
  <button
    mat-button
    id="changePasswordCancel"
    class="one-button one-grey"
    (click)="close()"
  >
    Cancel
  </button>
  <button
    mat-raised-button
    (click)="onSubmit()"
    class="one-button"
  >
    {{ buttonAction }}
  </button>
</div>
