<app-bread-crump [data]="currentLocation"></app-bread-crump>
<app-title [data]="pageName"></app-title>
<app-card class="table-card" [withTitle]="true" [withButtons]="false" title="Sections management">
  <app-data-table
    class="table-component"
    [displayedColumns]="displayedColumns"
    [pageSizeOptions]="pageSizeOptions"
    [tableType]="tableType"
    [hasPageSize]="true"
    [noSort]="false"
    [hasPagination]="true"
    [maxPageSize]="maxPageSize"
    [data]="sections"
    [activeSortColumn]="activeSortColumn"
    [sortDirection]="sortDirection"
  ></app-data-table>
</app-card>
