<div class="mat-dialog-title-container">
  <h1 mat-dialog-title>
    {{ "MODALS.CHANGE_PASSWORD" | translate }}
    <button class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </h1>
</div>
<div mat-dialog-content>
  <form
    class="change-password-form"
    [formGroup]="changePasswordForm"
    (keyup.enter)="onSubmit()"
  >
    <mat-form-field class="w-100">
      <input
        matInput
        type="password"
        [placeholder]="'MODALS.CURRENT_PASSWORD' | translate"
        name="current_password"
        id="current_password"
        (input)="errors = []"
        formControlName="currentPassword"
        [errorStateMatcher]="matcher"
      />
      <mat-error
        *ngIf="
          changePasswordForm.get('currentPassword').hasError('required') &&
          changePasswordForm.get('currentPassword').touched &&
          changePasswordForm.get('currentPassword').dirty
        "
        class="d-flex align-items-center"
      >
        <img class="warn" width="10px" height="9px" src="" />
        {{ "MODALS.CURRENT_PASSWORD_REQUIRED" | translate }}
      </mat-error>
      <div
        *ngIf="!changePasswordForm.invalid && errors?.length"
        class="align-items-center form-err"
      >
        <img class="warn" width="10px" height="9px" src="" />
        {{ errors }}
      </div>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input
        matInput
        type="password"
        [placeholder]="'MODALS.NEW_PASSWORD' | translate"
        name="new_password"
        id="new_password"
        (input)="validate($event)"
        formControlName="newPassword"
        [errorStateMatcher]="matcher"
        [pattern]="data && passwordPattern"
      />
      <mat-error
        *ngIf="
          changePasswordForm.get('newPassword').hasError('required') ||
          (changePasswordForm.get('newPassword').hasError('pattern') &&
            changePasswordForm.get('newPassword').touched &&
            changePasswordForm.get('newPassword').dirty)
        "
        class="d-flex align-items-center"
      >
        <span
          *ngIf="changePasswordForm.get('newPassword').hasError('required')"
        >
          <img class="warn" width="10px" height="9px" src="" />
          {{ "MODALS.NEW_PASSWORD_REQUIRED" | translate }}
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input
        matInput
        type="password"
        [placeholder]="'MODALS.CONFIRM' | translate"
        name="confirm_password"
        id="confirm_password"
        formControlName="confirmPassword"
        [errorStateMatcher]="matcher"
        (input)="errors = []"
      />
      <mat-error
        *ngIf="
          changePasswordForm.get('confirmPassword').hasError('required') &&
          changePasswordForm.get('confirmPassword').touched &&
          changePasswordForm.get('confirmPassword').dirty
        "
        class="d-flex align-items-center"
      >
        <img class="warn" width="10px" height="9px" src="" />
        {{ "MODALS.CONFIRM_PASSWORD_REQUIRED" | translate }}
      </mat-error>
      <div
        *ngIf="
          changePasswordForm.get('confirmPassword').hasError('mismatch') &&
          changePasswordForm.get('confirmPassword').touched &&
          changePasswordForm.get('confirmPassword').dirty
        "
        class="align-items-center form-err"
      >
        <img class="warn" width="10px" height="9px" src="" />
        {{ "MODALS.PASSWORD_DONT_MATCH" | translate }}
      </div>
    </mat-form-field>
  </form>
</div>
<app-validator
  [validation]="validation"
></app-validator>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button
    mat-button
    id="changePasswordCancel"
    color="primary"
    class="btn-wrraper btn-cancel btn-transparent text-uppercase"
    (click)="close()"
  >
    {{ "MODALS.CANCEL" | translate }}
  </button>
  <button
    id="changePasswordSave"
    mat-raised-button
    (click)="onSubmit()"
    class="btn btn-wrraper btn-save btn-blue text-uppercase"
    [disabled]="changePasswordForm.invalid || isChangingPassword"
  >
    {{ "MODALS.SAVE" | translate }}
  </button>
</div>
