:host
  display: block
  width: 100%
  background-color: rgba(0, 0, 0, 0.4)
  padding: 16px
  border-radius: 7px
  overflow: hidden
  transition: all 500ms ease
  box-shadow: 0 25px 20px -20px rgba(0,0,0,0.2), 0 0 15px rgba(0,0,0,.1)
  color: #FFF
  &.collapsed
    height: 50px
    transition: all 500ms ease
    overflow: hidden
  .card-content
    height: 100%
    .title-bar
      height: 30px
      .title
        font-size: 20px
      .buttons
        button
          font-size: 8px
          line-height: 10px
          padding: 0px !important
          width: 10px
          height: 10px
          max-width: 10px !important
          min-width: 10px !important
          ::ng-deep *
            max-width: 10px !important
            min-width: 10px !important
    .content
      height: calc(100% - 50px)
      margin-top: 15px
