<div class="side-nav-logo">
  <img [src]="appLogo">
  <span class="text">
    <strong>{{ appName.split(' ')[0] }}</strong>
    {{ appName.split(' ')[1] }}
  </span>
</div>
<div class="side-nav">
  <mat-nav-list>
    <mat-list-item
      *ngFor="let item of sidenavItems; let i = index"
      (click)="navigator(i)"
      [class.active]="activeTab == i"
    >
      <div class="content w-100">
        <i [class]="item.iconGroup + item.icon"></i>
        <div class="text">{{item.name}}</div>
      </div>
    </mat-list-item>
  </mat-nav-list>
</div>
<div class="lower d-flex justify-content-end">
  <button *ngIf="mode === 'side'" mat-icon-button class="toggle" [class.collapsed]="!sideMenuCollapseState" (click)="toggleCollapse()">
    <i class="lni-angle-double-right"></i>
  </button>
  <button *ngIf="mode === 'over'" mat-icon-button class="toggle" (click)="close()">
    <i class="lni-close"></i>
  </button>
</div>
